-- CreateTable-- CreateSchema

CREATE TABLE "User" (CREATE SCHEMA IF NOT EXISTS "public";

    "id" TEXT NOT NULL,

    "name" TEXT NOT NULL,-- CreateTable

    "cpf" TEXT NOT NULL,CREATE TABLE "public"."User" (

    "birthDate" TIMESTAMP(3) NOT NULL,    "id" TEXT NOT NULL,

    "email" TEXT NOT NULL,    "name" TEXT NOT NULL,

    "password" TEXT NOT NULL,    "cpf" TEXT NOT NULL,

    "userType" TEXT NOT NULL,    "birthDate" TIMESTAMP(3) NOT NULL,

    "score" INTEGER NOT NULL DEFAULT 0,    "email" TEXT NOT NULL,

    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,    "password" TEXT NOT NULL,

    "updatedAt" TIMESTAMP(3) NOT NULL,    "userType" TEXT NOT NULL,

    "score" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

);    "updatedAt" TIMESTAMP(3) NOT NULL,



-- CreateTable    CONSTRAINT "User_pkey" PRIMARY KEY ("id")

CREATE TABLE "Achievement" ();

    "id" SERIAL NOT NULL,

    "description" TEXT NOT NULL,-- CreateTable

    "score" INTEGER NOT NULL,CREATE TABLE "public"."Achievement" (

    "iconKey" TEXT NOT NULL,    "id" SERIAL NOT NULL,

    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,    "description" TEXT NOT NULL,

    "updatedAt" TIMESTAMP(3) NOT NULL,    "score" INTEGER NOT NULL,

    "userId" TEXT NOT NULL,    "iconKey" TEXT NOT NULL,

    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Achievement_pkey" PRIMARY KEY ("id")    "updatedAt" TIMESTAMP(3) NOT NULL,

);    "userId" TEXT NOT NULL,



-- CreateTable    CONSTRAINT "Achievement_pkey" PRIMARY KEY ("id")

CREATE TABLE "Foto" ();

    "id" SERIAL NOT NULL,

    "key" TEXT NOT NULL,-- CreateTable

    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,CREATE TABLE "public"."Foto" (

    "updatedAt" TIMESTAMP(3) NOT NULL,    "id" SERIAL NOT NULL,

    "key" TEXT NOT NULL,

    CONSTRAINT "Foto_pkey" PRIMARY KEY ("id")    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

);    "updatedAt" TIMESTAMP(3) NOT NULL,



-- CreateTable    CONSTRAINT "Foto_pkey" PRIMARY KEY ("id")

CREATE TABLE "PontoColeta" ();

    "id" SERIAL NOT NULL,

    "name" TEXT NOT NULL,-- CreateTable

    "latitude" DOUBLE PRECISION NOT NULL,CREATE TABLE "public"."PontoColeta" (

    "longitude" DOUBLE PRECISION NOT NULL,    "id" SERIAL NOT NULL,

    "authorId" TEXT NOT NULL,    "name" TEXT NOT NULL,

    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,    "latitude" DOUBLE PRECISION NOT NULL,

    "updatedAt" TIMESTAMP(3) NOT NULL,    "longitude" DOUBLE PRECISION NOT NULL,

    "authorId" TEXT NOT NULL,

    CONSTRAINT "PontoColeta_pkey" PRIMARY KEY ("id")    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

);    "updatedAt" TIMESTAMP(3) NOT NULL,



-- CreateTable    CONSTRAINT "PontoColeta_pkey" PRIMARY KEY ("id")

CREATE TABLE "PontoColetaItem" ();

    "id" SERIAL NOT NULL,

    "pontoColetaId" INTEGER NOT NULL,-- CreateTable

    "coletado" BOOLEAN NOT NULL DEFAULT false,CREATE TABLE "public"."PontoColetaItem" (

    "categoriaId" INTEGER NOT NULL,    "id" SERIAL NOT NULL,

    "coletaId" INTEGER,    "pontoColetaId" INTEGER NOT NULL,

    "fotoId" INTEGER,    "coletado" BOOLEAN NOT NULL DEFAULT false,

    "autorId" TEXT NOT NULL,    "categoriaId" INTEGER NOT NULL,

    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,    "coletaId" INTEGER,

    "updatedAt" TIMESTAMP(3) NOT NULL,    "fotoId" INTEGER,

    "autorId" TEXT NOT NULL,

    CONSTRAINT "PontoColetaItem_pkey" PRIMARY KEY ("id")    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

);    "updatedAt" TIMESTAMP(3) NOT NULL,



-- CreateTable    CONSTRAINT "PontoColetaItem_pkey" PRIMARY KEY ("id")

CREATE TABLE "Coleta" ();

    "id" SERIAL NOT NULL,

    "name" TEXT NOT NULL,-- CreateTable

    "score" INTEGER NOT NULL,CREATE TABLE "public"."Coleta" (

    "catadorId" TEXT NOT NULL,    "id" SERIAL NOT NULL,

    "status" TEXT NOT NULL DEFAULT 'PENDENTE',    "name" TEXT NOT NULL,

    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,    "score" INTEGER NOT NULL,

    "updatedAt" TIMESTAMP(3) NOT NULL,    "catadorId" TEXT NOT NULL,

    "status" TEXT NOT NULL DEFAULT 'PENDENTE',

    CONSTRAINT "Coleta_pkey" PRIMARY KEY ("id")    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

);    "updatedAt" TIMESTAMP(3) NOT NULL,



-- CreateTable    CONSTRAINT "Coleta_pkey" PRIMARY KEY ("id")

CREATE TABLE "Categoria" ();

    "id" SERIAL NOT NULL,

    "name" TEXT NOT NULL,-- CreateTable

    "iconKey" TEXT NOT NULL,CREATE TABLE "public"."Categoria" (

    "id" SERIAL NOT NULL,

    CONSTRAINT "Categoria_pkey" PRIMARY KEY ("id")    "name" TEXT NOT NULL,

);    "iconKey" TEXT NOT NULL,



-- CreateIndex    CONSTRAINT "Categoria_pkey" PRIMARY KEY ("id")

CREATE UNIQUE INDEX "User_cpf_key" ON "User"("cpf"););



-- CreateIndex-- CreateIndex

CREATE UNIQUE INDEX "User_email_key" ON "User"("email");CREATE UNIQUE INDEX "User_cpf_key" ON "public"."User"("cpf");



-- AddForeignKey-- CreateIndex

ALTER TABLE "Achievement" ADD CONSTRAINT "Achievement_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");



-- AddForeignKey-- AddForeignKey

ALTER TABLE "PontoColeta" ADD CONSTRAINT "PontoColeta_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;ALTER TABLE "public"."Achievement" ADD CONSTRAINT "Achievement_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;



-- AddForeignKey-- AddForeignKey

ALTER TABLE "PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_pontoColetaId_fkey" FOREIGN KEY ("pontoColetaId") REFERENCES "PontoColeta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;ALTER TABLE "public"."PontoColeta" ADD CONSTRAINT "PontoColeta_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;



-- AddForeignKey-- AddForeignKey

ALTER TABLE "PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "Categoria"("id") ON DELETE RESTRICT ON UPDATE CASCADE;ALTER TABLE "public"."PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_pontoColetaId_fkey" FOREIGN KEY ("pontoColetaId") REFERENCES "public"."PontoColeta"("id") ON DELETE RESTRICT ON UPDATE CASCADE;



-- AddForeignKey-- AddForeignKey

ALTER TABLE "PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_coletaId_fkey" FOREIGN KEY ("coletaId") REFERENCES "Coleta"("id") ON DELETE SET NULL ON UPDATE CASCADE;ALTER TABLE "public"."PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES "public"."Categoria"("id") ON DELETE RESTRICT ON UPDATE CASCADE;



-- AddForeignKey-- AddForeignKey

ALTER TABLE "PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_fotoId_fkey" FOREIGN KEY ("fotoId") REFERENCES "Foto"("id") ON DELETE SET NULL ON UPDATE CASCADE;ALTER TABLE "public"."PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_coletaId_fkey" FOREIGN KEY ("coletaId") REFERENCES "public"."Coleta"("id") ON DELETE SET NULL ON UPDATE CASCADE;



-- AddForeignKey-- AddForeignKey

ALTER TABLE "PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_autorId_fkey" FOREIGN KEY ("autorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;ALTER TABLE "public"."PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_fotoId_fkey" FOREIGN KEY ("fotoId") REFERENCES "public"."Foto"("id") ON DELETE SET NULL ON UPDATE CASCADE;



-- AddForeignKey-- AddForeignKey

ALTER TABLE "Coleta" ADD CONSTRAINT "Coleta_catadorId_fkey" FOREIGN KEY ("catadorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;ALTER TABLE "public"."PontoColetaItem" ADD CONSTRAINT "PontoColetaItem_autorId_fkey" FOREIGN KEY ("autorId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;


-- AddForeignKey
ALTER TABLE "public"."Coleta" ADD CONSTRAINT "Coleta_catadorId_fkey" FOREIGN KEY ("catadorId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

